<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home</title>
    <link rel="shortcut icon" href="/images/if_laptop_1805073.ico" type="image/x-icon">
</head>

<body>
<!-- Header -->

<!-- End Header -->


<!-- Main -->
<section>
    <div class="container">
        <div class="row justify-content-around mt-5">
            <div class="col-12 col-md-3">
                <div class="list-group">
                    <a href="/hrApplicants" class="list-group-item list-group-item-action">Applications</a>
                    <a href="/hrExams" class="list-group-item list-group-item-action">Exams</a>
                    <a href="/hrCandidates" class="list-group-item list-group-item-action">Candidates</a>
                </div>
            </div>
            <div class="col-12 col-md-9">
                <div class="hrAddExams-content">
                    <div class="mb-5">
                        <h3>Add Answer</h3>
                    </div>
                    <form method="post" action="/addAnswer">
                        <div class="manageExams mt-5 p-2">
                                <input type="hidden" name="qid" value="<%= qid %>"  />
                                <input type="text" name="text" />
                        </div>
                        <div class="manageExams mt-2 p-2">
                            correct: <input type="radio" name="correct" value="1"/>
                            <button type="submit" class="btn btn-info ml-3">Submit</button>

                        </div>
                    </form>
                    </div>
                <div class="hrAddExams-content">
                    <div class="mb-5">
                        <h3>Answers</h3>
                    </div>
                    <div class="manageExams mt-5 p-2">
                        <% answers.forEach((answer)=>{%>
                            <div class="card mb-2">

                                <div class="card-body d-flex justify-content-between align-items-center">
                                    <div>
                                        <h5> <a href="/<%= qid %>/editAnswer/<%= answer.aid %>" class="text-decoration-none"> <%= answer.text %> </a> </h5>
                                    </div>
                                    <div class="">
                                        <% if(answer.correct==1){ %>
                                            <h6 style="color: #1c7430">Correct</h6>
                                        <% }else{ %>
                                                <h6 style="color: red">Not Correct</h6>
                                        <% } %>
                                    </div>
                                    <div class="">
                                        <button type="button" class="close" aria-label="Close">
                                            <span aria-hidden="true"><a href="/<%= qid %>/deleteanswer/<%= answer.aid %>">&times;</a></span>
                                        </button>
                                    </div>

                                </div>

                            </div>

                    </div>
                    <% }); %>

                </div>
              </div>
            </div>
        </div>
    </div>
</section>
<!-- End Main -->





<!-- Footer -->

<!-- End Footer -->


<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/jquery-3.4.1.min.js"></script>
<script src="/javascripts/script.js"></script>
</body>

</html>